body{
    background-image: url("http://66.media.tumblr.com/3eb9907f0982d5d15dc8611c374fe8d9/tumblr_n2kphwIFhg1somw7ho1_250.gif");
    background-repeat:no-repeat;
    background-position: top right;
    background-size: 500px 350px;

    }
.choc-big-bar {
    float: left;
    width: 50px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    color: white;
    background-image: url("http://wac.450f.edgecastcdn.net/80450F/929nin.com/files/2012/04/chocolate1-300x200.jpg");
    margin: 5px;
}
.choc-small-bar {
    float: left;
    width:75px;
    height:25px;
    line-height: 25px;
    font-size: 30px;
    color: white;
    text-align: center;
    background-image:url("http://media.gettyimages.com/videos/chocolate-bar-turnaround-video-id473161161?s=640x640");
    margin: 5px;
}

