<!DOCTYPE html>
<html lang="en" ng-app="ChocolateMakerApp">
<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->
<head>
    <link rel="stylesheet" type="text/css" href="../static/styleSheet.css">
    <link rel="stylesheet" type="text/css" href="styleSheet.css">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../static/js/chocolate-controller.js"></script>
<script src="js/chocolate-controller.js"></script>


<body ng-controller="ChocolateController">
   <div>
       <h1>
           Welcome to Clay's Chocolate Factory!
       </h1>
       <br>
       <ul>
           <li>"Make chocolate with big bars (5g) and small bars(1g)</li>
           <li>"Must enter at least 5g or one big bar</li>
       </ul>
       How much chocolate in the inventory?
       <br><br>
   </div>
    <span>
        <input type="text" placeholder="Number of Bigs "  ng-model="container.numBigs"/>
        <input type="text" placeholder="Number of Smalls" ng-model="container.numSmalls"/>
    </span>
    <br><br>

    How much chocolate would you like to make?
    <br><br>
    <span>
        <input type="text" placeholder="Goal" ng-model="container.goal"/>
        <input type="button" value="Make Chocolate" ng-click="solveChocolate(container.numSmalls, container.numBigs, container.goal)"/>
    </span>
    <div>
        <br><br>
        Chocolate Inventory
        <br><br>
    </div>


    <div ng-repeat="chocIndex in makeArray(container.numBigs)">
        <div class="choc-big-bar">{{chocIndex + 1}}</div>
    </div>
    <div ng-repeat="chocIndex in makeArray(container.numSmalls)">
        <div class="choc-small-bar">{{chocIndex + 1}}</div>
    </div>
    <br><br><br><br><br><br><br><br><br>
   <span ng-if="solveChocolate.hasSolution == false">
           <h1>
               NOT ENOUGH CHOCOLATE
           </h1>
   </span>
    <span ng-if="finishedChocolate.hasSolution == true">
    <div ng-repeat="finishedIndex in makeArray(finishedChocolate.bigs)">
        <div class="choc-big-bar">{{finishedIndex+1}}</div>
    </div>

        <div ng-repeat="finishedIndex in makeArray(finishedChocolate.smalls)">
            <div class="choc-small-bar">{{finishedIndex+1}}</div>
        </div>
    </span>
</body>
</html>